parameters:
  level: 6
  paths:
    - viazen-mailersend-smtp.php
    - uninstall.php
  bootstrapFiles:
    - tools/phpstan-bootstrap.php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  excludePaths:
    analyse:
      - vendor
